extends ../../dev/templates/default/index.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  h1 123

  a(href="./components/button/button.html") Button
