extends ../../templates/default/index.pug

block meta
  title Button

block head
  link(rel='stylesheet', href='button.css')

block content
  h1 Заголовок
  a(href="../../index.html") главная

  button(type='button') 

