extends ../../templates/default/index.pug
include ../../templates/default/mixins.pug


block meta
  title Button

block head
  link(rel='stylesheet', href='button.css')

block content
  +btn('', 'Normal')
  +btn('accent', 'Accent')
