extends ../../templates/default/index.pug

block meta
  title Button

block head
  link(rel='stylesheet', href='button.css')

block content
  button(class='button' type='button') Normal
  button(class='button button--accent' type='button') Accent
